* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
  }

  h1{
    color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    font-size: 60px;
    font-weight: lighter;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(0, 0, 0) 40%,rgb(61, 63, 70));
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  
  section div{
    border: 3px solid rgb(190, 1  89, 189) ;
    background: rgba(96, 99, 104, 0.377);
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    color: rgb(196, 196, 192);
    font-family: 'Poppins';
  }


  #container p{          /* for saved.html */ 
    width :  300px;
    border-radius : 4px;
    padding : 10px;
    color :rgb(231, 231, 231);
    margin: 10px;
    background-color: rgb(12, 12, 12);
  }
  
#input{
  justify-content: center;
  background-color:rgba(14, 14, 14, 0.655);
  align-items: center;
  flex-direction: column;
  border : 2px solid rgb(190, 189, 189);
}

#input p{
  text-align: center;
  margin: 20px
}

  .container:hover{
    filter: brightness(90%);
  }

   #textblock{
    background: rgb(61, 63, 70);
    width: 500px;
    height: 30vh;
    border: 1px solid rgb(192, 190, 190) ;
    border-radius: 10px;
    justify-content: center;
    padding: 12px 20px;
    font-size: 20px;
    color: rgb(225, 234, 247);
    margin: 15px;
   }